*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
.container .row{
  
    height: 50px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    align-items: center;
    justify-content: space-around;
    background: #F1E9FE;
  }
  .container .row .col{
    margin: 0;
    border: 1px solid #D1BAFD;
    border-collapse: collapse;
    padding: 13px;
    padding-left: 75px;
    padding-right: 75px;
   
  }